<div class="card">
    <div class="card-body">
        <h4>iPhone 15</h4>
        <p>Mô tả sản phẩm...</p>

        <ul class="list-group">
            <li class="list-group-item"><b>Giá:</b> 25,000,000</li>
            <li class="list-group-item"><b>Đơn vị:</b> Cái</li>
            <li class="list-group-item"><b>Đang bán:</b> Yes</li>
        </ul>

        <div class="mt-3">
            <a href="/Product/ListAttributes/1" class="btn btn-secondary">
                <i class="bi bi-list"></i> Thuộc tính
            </a>
            <a href="/Product/ListPhotos/1" class="btn btn-info">
                <i class="bi bi-images"></i> Ảnh
            </a>
        </div>
    </div>
</div>
