@{
    Layout = null;
}
<form action="~/Order/Reject/@ViewBag.OrderId" method="post" class="ajax-form">
    <div class="modal-header text-bg-danger">
        <strong class="modal-title">Từ chối đơn hàng</strong>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger">
            <i class="bi bi-x-circle me-2"></i> Bạn có chắc chắn muốn <strong>Từ chối</strong> đơn hàng này không?
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Xác nhận từ chối</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    </div>
</form>